.custom-button {

  color: #FFFFFF;
  background-color: #000000;
  margin-top: -2.5rem;
  margin-left: -4rem;
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;


  border: none;


  border-radius: 0.5rem;

  padding: 0.75rem 2rem;


  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #1a1a1a;
}

