
<div class="sidebar-container">
  <div class="sidebar-header">
    <button class="closeMenu"
    (click)="closeSidebar.toggleSidebar()">
      <app-icon
        nombre="close"
        size="1.875rem"/>
        <span class="close-text">Cerrar</span>
    </button>
  </div>

  <nav class="sidebar-nav">
      <a [routerLink]="['/resultadosBusqueda']" [queryParams]="{categoryName:'Anillos'}">Anillos</a>
      <a [routerLink]="['/resultadosBusqueda']" [queryParams]="{categoryName:'Brazaletes'}">Brazaletes</a>
      <a [routerLink]="['/resultadosBusqueda']" [queryParams]="{categoryName: 'Collares'}">Collares</a>
      <a [routerLink]="['/resultadosBusqueda']" [queryParams]="{categoryName:'Aretes'}">Aretes</a>
  </nav>
</div>


