<header [class.header-search-activo] = "menuSidebar.isSearchOpen()">
  <div class="header-left">
    <button class="menu-btn"
      (click)="menuSidebar.toggleSidebar()">
        <app-icon nombre="menu"
          size="1.875rem"/>
    </button>
  </div>
  <div class="header-center">
   <h1> <a [routerLink]="['']">  ENTRE CIRCONIAS RAZI </a> </h1>
  </div>
  <nav class="header-right">
      <app-icon
       nombre="inbox"
       size="1.875rem"/>

    <button class="menu-btn" (click)="menuSidebar.toogleSearch()">
       <app-icon
       nombre="search"
       size="1.875rem"/>
    </button>
       <app-icon
       nombre="favorite_border"
       size="1.875rem"/>
       <app-icon
       nombre="person"
       size="1.875rem"/>
       <app-icon
       nombre="shopping_cart"
       size="1.875rem"/>
  </nav>
</header>
<div>
  @if (menuSidebar.isSearchOpen()) {
  <app-search (terminoBusqueda)="buscarProducto($event)"/>
}
</div>




