<header>
  <div class="header-left">
    <span>Menu</span>
  </div>
  <div class="header-center">
    <h1>ENTRE CIRCONIAS RAZI</h1>
  </div>
  <nav class="header-right">
      <app-icon
       nombre="inbox"
       size="1.875rem"/>
       <app-icon
       nombre="search"
       size="1.875rem"/>
       <app-icon
       nombre="favorite_border"
       size="1.875rem"/>
       <app-icon
       nombre="person"
       size="1.875rem"/>
       <app-icon
       nombre="shopping_cart"
       size="1.875rem"/>
  </nav>
</header>
