<section class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title">Tesoros de Plata Inspirados en la Costa</h1>
    <p class="hero-description">Mar & Plata Artesanía te invita a descubrir una colección
      única de joyas de plata de ley, diseñadas y elaboradas a mano con el amor por el océano
      como guía. Cada pieza captura la serena belleza de la luna sobre el agua, la textura de
      la madera a la deriva y la pureza de las perlas.</p>
      <app-button label="Explorar colección" class="hero-cta"/>
  </div>
</section>
