<section class="empresa-container">
  <h2 class="empresa-titulo">¡Hola, somos Entre Circonias Razi!</h2>

  <div class="empresa-contenido">
    <p class="empresa-texto">
      ¿Alguna vez has pensado en la verdadera importancia de un accesorio?<br>
      No se trata solo de algo que embellece un look o satisface un deseo; un accesorio puede ser mucho más. Puede guardar emociones, recuerdos, experiencias e incluso llevar consigo un legado familiar.
    </p>

    <p class="empresa-texto">
      Por ejemplo, en un anillo de bodas o en uno de promesa: ambos representan el amor y la conexión entre dos personas. Es por eso, que en Entre Circonias Razi creemos que cada momento especial merece ser atesorado en una pieza única, creada con amor y significado.
    </p>
  </div>
</section>
